<p id="notice"><%= notice %></p>

<h1>User</h1>
<h1><img src=<%= user.profile_image_uri.to_s %> /></h1>

<table>
  <thead>
    <tr>
      <%= button_to 'Download as CSV', tweets_download_path(format: :csv),  method: :get, params: {search: params[:search]}%>
    </tr>
    <tr>
      <th>User</th>
      <th>Description</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.screen_name, user_path(user.id)%></td>
        <td><%= user.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

